html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Gemunu Libre", sans-serif;
}
.Header {
  font-size: 3rem;
  margin: 2rem 2rem auto;
  border: 1rem solid #000000;
  text-align: center;
}
.subhead {
  border: 1rem solid #000000;
  text-align: center;
}
.Subheader {
  font-size: 6rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}
.flex-item {
  margin: 10rem;
  justify-content: center;
}
.flex-img {
  width: 20rem;
  height: 20rem;
  text-align: center;
}
.flex-paragraph {
  border: 1rem solid #000000;
}
