html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Gemunu Libre", sans-serif;
}
body {
  background-color: #696969;
}
.Header {
  font-size: 3.5rem;
  color: #ffd700;
  margin: 2rem 2rem 2rem;
  text-align: center;
}
.subhead {
  border: 1rem solid #696969;
  text-align: center;
  border-radius: 2.5rem;
  color: #ffd700;
  font-size: 3.25rem;
}
.Subheader {
  font-size: 6.5rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}
.flex-item {
  margin: 9.8rem;
  align-items: center;
  justify-content: center;
  border: 0.5rem solid #ffd700;
  border-radius: 2.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-flow: column wrap;
  transition: all 0.2s;
}
.flex-img {
  width: 20rem;
  height: 20rem;
  text-align: center;
  transition: all 0.2s;
}
.flex-paragraph {
  border: 1rem solid #696969;
  border-radius: 2.5rem;
  color: #ffd700;
  text-align: center;
}
@media (max-width: 39rem) and (max-width: 81rem) {
  .Header {
    font-size: 1rem;
  }
}
}@media (max-width: 117rem) and (max-width: 145rem) {
  .flex-item {
    margin: 20rem;
    transform: scale(1.25);
  }
}
.flex-img:hover {
  transform: matrix(1, 2, 3, 4, 5, 6) rotate(0.5turn);
  outline: 0.4rem solid #ffffff;
  outline-offset: 1rem;
}

.flex-item:hover {
  transform: scale(1.15);
}
.Header:focus {
  animation: 3s linear 1s infinite alternate slidein;
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(0.25turn);
  }
  to {
    transform: rotate(0.5turn);
  }
  to {
    transform: rotate(0.75turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.header:hover {
  animation-name: spin;
  animation-duration: 4s;
}
.flex-paragraph:hover {
}
