html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Gemunu Libre", sans-serif;
}
body {
  background-color: #696969;
}
.Header {
  font-size: 3.5rem;
  color: #ffd700;
  margin: 1.8rem 1.8rem auto;
  border: 0.2rem solid #696969;
  text-align: center;
}
.subhead {
  border: 1rem solid #696969;
  text-align: center;
  border-radius: 2.5rem;
  color: #ffd700;
  font-size: 3.25rem;
}
.Subheader {
  font-size: 6.5rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}
.flex-item {
  margin: 9.8rem;
  align-items: center;
  justify-content: center;
  border: 0.5rem solid #ffd700;
  border-radius: 2.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-flow: column wrap;
  transition: all 0.2s;
}
.flex-img {
  width: 20rem;
  height: 20rem;
  text-align: center;
  transition: all 0.2s;
}
.flex-img:active {
  transform: scale(1.5);
  outline: 0.4rem solid #ffffff;
  outline-offset: 1rem;
}
.flex-paragraph {
  border: 1rem solid #696969;
  border-radius: 2.5rem;
  color: #ffd700;
  text-align: center;
}
.flex-item:hover {
  transform: scale(1.2);
}
.flex-item:active {
  transition: ;
}
